################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APIAutomationTestingServices/.vs/APIAutomationTestingServices
/APIAutomationTestingServices/APIAutomationTestingServices/obj
